{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<section class="hero">
    <div class="hero-content">
        <h1>Fresh. Fast. Delicious.</h1>
        <p>Your favourite dishes delivered right to your doorstep.</p>
        <a href="{% url 'menu_list' %}" class="cta-btn">Order Now</a>
    </div>
</section>


<section class="categories" id="menu">
    <h2>Browse Categories</h2>

    <div class="cat-container">
        <div class="cat-card">
            <img src="{% static 'images/starter.jpg' %}" alt="">
            <h3>Starters</h3>
        </div>
        <div class="cat-card">
            <img src="{% static 'images/main_course.jpg' %}" alt="">
            <h3>Main Course</h3>
        </div>
        <div class="cat-card">
            <img src="{% static 'images/biryani.jpg' %}" alt="">
            <h3>Biryani</h3>
        </div>
        <div class="cat-card">
            <img src="{% static 'images/beverages.jpg' %}" alt="">
            <h3>Beverages</h3>
        </div>
    </div>
</section>

<section class="popular">
    <h2>Popular Dishes</h2>

    <div class="popular-container">
        <div class="dish-card">
            <img src="{% static 'images/biryani_ch.jpg' %}" alt="">
            <div class="dish-info">
                <h3>Chicken Biryani</h3>
                <p>Spicy & flavorful Hyderabadi biryani.</p>
                <span class="price">₹199</span>
            </div>
        </div>

        <div class="dish-card">
            <img src="{% static 'images/paneer.png' %}" alt="">
            <div class="dish-info">
                <h3>Paneer Tikka</h3>
                <p>Grilled paneer marinated in rich spices.</p>
                <span class="price">₹149</span>
            </div>
        </div>

        <div class="dish-card">
            <img src="{% static 'images/Cold-Coffee.png' %}" alt="">
            <div class="dish-info">
                <h3>Cold Coffee</h3>
                <p>Refreshing cold coffee with ice cream.</p>
                <span class="price">₹99</span>
            </div>
        </div>
    </div>
</section>

{% endblock %}
