{% extends 'adminpanel/base_admin.html' %}
{% block content %}

<h2 class="fw-bold mb-4">Dashboard</h2>

<div class="row">

    <div class="col-md-3">
        <div class="card shadow-sm p-3">
            <h4>Total Orders</h4>
            <p class="display-6 text-primary">{{ total_orders }}</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm p-3">
            <h4>Total Users</h4>
            <p class="display-6 text-success">{{ total_users }}</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm p-3">
            <h4>Menu Items</h4>
            <p class="display-6 text-warning">{{ total_menu_items }}</p>
        </div>
    </div>

</div>

{% endblock %}
